input[type=checkbox] {
  opacity: 0;
  position: absolute;
  & + label {
    margin: 0 20px 0 5px;
    text-align: center;
    padding: 5px 0;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    padding: 0;
    width: 33.33%;
    font-size: 12px;
    background: $secondaryL;
  }
  &:hover + label:hover {
    background: $secondaryD;
  }
  &:focus + label {
    box-shadow: 0 0 0 3px red;
    background: $secondaryL;
  }
  &:checked + label {
    background: $secondaryD;
  }
}
label {
  margin: 0 20px 0 5px;
  text-align: center;
  padding: 5px 0;
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0;
  width: 25%;
  display: inline-block;
  font-size: 12px;
  background: $secondaryL;
  &:last-of-type {
      margin-right: 0;
  }
}
