input[type=submit] {
    background: $secondaryD;
    color: $white;
    border: none;
    padding: 5px 20px;
    display: block;
    &:hover {
        background: $secondaryL;
    }
}
input[type=checkbox] {
    opacity: 0;
    position: absolute;
    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
      }
      & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: $secondaryL;
      }
      &:hover + label:before {
        background: $secondaryD;
      }
      &:focus + label:before {
        box-shadow: 0 0 0 3px $secondaryL;
      }
      &:checked + label:before {
        background: $secondaryD;
      }
      // Checkmark. Could be replaced with an image
      &:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
      }
    }
label {
    margin: 0 20px 0 5px;
    &:last-of-type {
        margin-right: 0;
    }
}
