@media screen and (max-height:760px) {
    .wrapper {
        margin: 40px 0 0 0;
        border-bottom: 0px;
    }
    .landingPage {
        height: auto;
        .landingContent {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0%,0%);
            margin-top: 25px;
        }
    }
}
@media screen and (max-width:450px) {
    .wrapper {
        margin: 40px 0 0 0;
        border-bottom: 0px;
    }
    .landingPage {
        height: auto;
        .landingContent {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0%,0%);
            margin-top: 25px;
        }
    }
    h1 {
        font-size: 55px;
        line-height: 48px;
        span {
            width: 100%;
            display: block;
            margin-top: 10px;
        }
    }
    form {
        label {
            width: calc(50% - 5px);
        }
        a {
            width: calc(50% - 5px);
        }
}
@media screen and (max-width:350px) {
    .landingPage {
        .landingContent {
            margin-top: 30px;
            .desc {
                &:after {
                    width: 100%;
                    }
            }
        }
    }
    h1 {
        font-size: 38px;
        line-height: 32px;
    }
    form {
        label {
            width: 100%;
            margin: 0 0 5px 0;
          }
          a {
              width: 100%;
          }
        }
    }
}