//██████████ COLOURS ██████████
$primaryD: #00245B;
$primaryL: #0058B2;
$secondaryD: #FFC800;
$secondaryL: #FFE99D;
$white: #fffdf6;
$black: #333;

/*██████████ BORDERS ██████████*/
$basicBorder: solid 2px $primaryD;
$thiccBorder: 10px solid $primaryL;

//██████████ TYPOGRAPHY ██████████
@mixin headingCopy { //@include headingCopy;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
@mixin bodyCopy { //@include bodyCopy;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}