//██████████ HEADINGS ██████████
h1, h2, h3, h4, h5, h6 {
    @include headingCopy;
    color: $primaryL;
}
h2 {
    text-align: center;
}
h1 {
    color: $primaryL;
    font-size: 45px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 30px;
}
h2 {
    margin-bottom: 20px;
    color: $primaryL;
    &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 20%;
        padding-top: 10px;
        border-bottom: $basicBorder;
        }
}
h3 {
    font-size: 28px;
}
//██████████ GLOBAL TYPOGRAPHY ELEMENTS ██████████
body, label {
    @include bodyCopy;
    color: $primaryD;
}
p {
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: $primaryL;
    &:hover {
        color: $secondaryD;
    }
}