/*██████████ HEADINGS ██████████*/
h1, h2, h3, h4, h5, h6 {
    @include headingCopy;
}
h1 {
    color: $primaryL;
    font-size: 45px;
    line-height: 38px; //TEMP
    text-align: center;
    margin-bottom: 30px;
}
/*██████████ GLOBAL TYPOGRAPHY ELEMENTS ██████████*/
body, label {
    @include bodyCopy;
    color: $primaryD;
}
p {
    line-height: 1.6;
}