@import "setup";
@import "styleguide";
@import "typography";
@import "formElements";

body {
    background: $white;
    position: relative;
}
.wrapper {
    max-width: 960px;
    margin: 40px auto 40px auto;
    border-top: solid 2px $primaryD;
    border-bottom: solid 2px $primaryD;
}
.VQAlogo {
    margin: 0 auto;
    display: block;
    max-width: 65px;
    margin-bottom: 40px;
    position: absolute;
    top: -35px;
    left: calc(50% - 40px)
}
.landingPage {
    padding: 30px 20px;
    max-width: 600px;
    margin: 0 auto;
    height: calc(100vh - 85px);
    position: relative;
    .landingContent {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .desc {
            margin-bottom: 30px;
            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 60%;
                padding-top: 30px;
                border-bottom: 5px solid $primaryL;
                }
        }
        form {
            div {
                margin-bottom: 20px;
                p {
                    text-align: center;
                    margin-block-end: 20px;
                }
            }
            input[type=submit] {
                margin: 0 auto;
            }
        }
    }
}