@import "setup";
@import "styleguide";
@import "typography";
@import "formElements";
//██████████ GLOBAL ██████████
body {
    background: $white;
    position: relative;
}
.wrapper {
    max-width: 960px;
    margin: 40px auto 40px auto;
    border-top: $basicBorder;
    border-bottom: $basicBorder;
}
.VQAlogo {
    margin: 0 auto;
    display: block;
    max-width: 65px;
    margin-bottom: 40px;
    position: absolute;
    top: -35px;
    left: calc(50% - 33px)
}
//██████████ LAYOUT DETAILS ██████████
.landingPage, .recipesRender, .wineRender{
    padding: 20px 20px;
}
.recipesRender, .wineRender {
    width: 50%;
    margin: 40px 0;
}
//██████████ LANDING PAGE ██████████
.landingPage {
    max-width: 600px;
    margin: 0 auto;
    height: calc(100vh - 85px);
    position: relative;
    .landingContent {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .desc {
            margin-bottom: 30px;
            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 60%;
                padding-top: 30px;
                border-bottom: $thiccBorder;
                }
        }
        form {
            div {
                margin-bottom: 20px;
                p {
                    text-align: center;
                    margin-block-end: 20px;
                }
            }
            a {
                margin: 0 auto;
                background: $secondaryD;
                border: none;
                padding: 5px 20px;
                display: block;
                margin: 0 auto;
                text-align: center;
                width: 20%;
                color: $white;
                &:hover {
                    background: $secondaryL;
                }
            }
        }
    }
}
//██████████ WINE RENDER ██████████
.wineRender {
    .wineOrigin {
        text-align: center;
    }
    .wineTags {
        font-size: 12px;
        text-align: center;
    }
    .wineDesc {
        margin: 20px 0;
    }
}
//██████████ RECIPES RENDER ██████████
.recipesRender {
    border-left: $basicBorder;
    .recipeImageContainer {
        object-fit: cover;
        max-height: 300px;
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;;
            height: 100%;
            object-fit: cover;
        }
    }
    .recipe {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: $basicBorder;
        &:last-of-type {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border-bottom: 0px;
        }
        h3 {
            text-align: center;
        }
        .recipeAuthor {
            text-align: center;
            font-size: 12px;
        }
        .ingredientsList li {
            float: left;
            margin-bottom: 5px;
            font-size: 12px;
            margin-right: 10px;
            width: 40%;
        }
    }
}
//██████████ SINGLE RECIPE RENDER ██████████
.recipeRender {
    padding: 0 20px;
    margin: 40px 0;
    min-height: calc(100vh - 165px);
    .linkContainerC {
        margin: 0 auto;
        text-align: center;
    }
    h2 {
        margin-bottom: 10px;
    }
    .recipeImage {
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .ingredientsList li {
        margin-bottom: 10px;
    }
    .recipeIngredients, .recipeDetails {
        padding: 0 20px;
    }
    .recipeIngredients {
        width: 50%;
        border-right: $basicBorder;
        display: block;
        min-height: 100%;
        h3 {
            margin-bottom: 10px;
        }
    }
    .recipeDetails {
        width: 50%;
        h3 {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 10px;
        }
    }
    .recipeAttribution {
        font-size: 12px;
        text-align: center;
    }
}