@import "setup";
@import "styleguide";
@import "typography";
@import "formElements";
/*██████████ GLOBAL ██████████*/
body {
    background: $white;
    position: relative;
}
.wrapper {
    max-width: 960px;
    margin: 40px auto 40px auto;
    border-top: $basicBorder;
    border-bottom: $basicBorder;
}
.VQAlogo {
    margin: 0 auto;
    display: block;
    max-width: 65px;
    margin-bottom: 40px;
    position: absolute;
    top: -35px;
    left: calc(50% - 33px)
}
/*██████████ LAYOUT DETAILS ██████████*/
.landingPage, .recipesRender, .wineRender {
    padding: 20px 20px;
}
.recipesRender, .wineRender {
    width: 50%;
    margin: 40px 0;
}
/*██████████ LANDING PAGE ██████████*/
.landingPage {
    max-width: 600px;
    margin: 0 auto;
    height: calc(100vh - 85px);
    position: relative;
    .landingContent {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .desc {
            margin-bottom: 30px;
            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 60%;
                padding-top: 30px;
                border-bottom: $thiccBorder;
                }
        }
        form {
            div {
                margin-bottom: 20px;
                p {
                    text-align: center;
                    margin-block-end: 20px;
                }
            }
            input[type=submit] {
                margin: 0 auto;
            }
        }
    }
}
/*██████████ WINE RENDER ██████████*/
.wineRender {
    float: left;
    background: cyan; //TEMP
    border-right: $basicBorder;
}
/*██████████ RECIPES RENDER ██████████*/
.recipesRender {
    float: right;
    padding: 30px 20px;
    background: red;
    .recipe {
        background: aquamarine; //TEMP
        margin-bottom: 20px;
    }
}
